* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

}

.wrapper {
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to right, red 30%, black 30%);
}

.container {
    margin: 0 auto;
    max-width: 1642px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.logo {
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.logo__text {
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
}

.nav__list {
    list-style-type: none;
    right: 0;
    display: flex;
}

.nav__item {
    margin: auto 42px;
}

.nav__link {
    text-decoration: none;
    color: white;
}

.text {
    color: white;
    font-weight: 600;
   font-size: 350px;
   line-height: 525px;
   margin: 0;
   font-family: 'Poppins', sans-serif 700;
}

.content__img {
    margin-top: -27%;
}